
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sea of Thoughts</title>
    <!--<link rel = "stylesheet" href="../statics/worry_away_css_file.css"> -->
    <link rel = "stylesheet" type="text/css" href = "{{url_for('static',filename='worry_away_css_file.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <canvas id="canvas" class="canvas"></canvas>
        <script src="{{url_for('static',filename='scripts/textToStar.js')}}"></script>
        <div class = "content">
            <!--<img src="GrizzlyHacksLogo.png" alt = "Grizzly Hacks Logo"> -->


    <p></p>
    <input type = "text" id = "venttext" placeholder="Vent your frustrations here...">
   
    <p></p>
            <script src="{{url_for('static',filename='scripts/nomenclature.js')}}"></script>
    <button id = "ventBtn" onclick="buttonErase()">enter</button>

    <div class="exit-intent-popup">
        <div class="helpline">
            <b>Testing</b>
            <p>Another thing for testing</p>
            <span class="close">x</span>
        </div>
    </div>
</body>
</html>

